@model ModelsLayer.Models.User

@{
    ViewData["Title"] = "SignUp";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
</head>
<body>
    <header id="header-wrap">
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="~/assets/img/logo.png" alt="Logo"></a>
            </div>
        </nav>
    </header>
    <div class="page-background">
        <img src="~/assets/img/OIP.jpeg" alt="SignUp Background">
    </div>
    <hr />
    <section class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="section-title">Sign Up</h1>
                    <form asp-action="SignUp">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label text-white"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label text-white"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label text-white"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label text-white"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label text-white"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Sign Up" class="btn btn-common" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
